* {
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;    
    position: fixed;
    height: 6rem;
    width: 100%;
    color: white;
    backdrop-filter: blur(15px);
    font-family: 'Lobster', cursive;
}

h1 {
    padding: 2rem;
}

nav {
    display: flex;
    justify-content: space-around;
    width: 30rem;
    align-items: center;    
}

nav a {
    text-decoration: none;
    font-size: 1rem;
    color: white;
}

.Cuerpo {
    display: flex;
    background-image: url("img1.jpg");
    background-size: cover;
    background-position: center;
    height: 120vh;
    margin: 0;
}

.Welcome {
    color: white;
    font-size: 4rem;
    margin: auto;

}

.Partedeabajo {
    background-color: grey;
    height: 6rem;
}



